apps/bin/*
apps/private
apps/vendor
apps/web/.csslintrc
apps/web/.editorconfig
apps/web/.eslintignore
apps/web/.eslintrc.json
apps/web/.gitattributes
apps/web/.gitignore
apps/web/.ht.router.php
apps/web/autoload.php
apps/web/core
apps/web/example.gitignore
apps/web/index.php
apps/web/INSTALL.txt
apps/web/libraries
apps/web/LICENSE.txt
apps/web/modules/contrib
apps/web/profiles/contrib
apps/web/README.md
apps/web/sites/*/*services.yml
apps/web/sites/*/*settings.php
apps/web/sites/*/cache
apps/web/sites/*/files
apps/web/sites/*/tmp
apps/web/sites/*/translations
!apps/web/sites/default/files/translations/.gitkeep
apps/web/sites/development.services.yml
apps/web/sites/example.settings.local.php
apps/web/sites/example.sites.php
apps/web/themes/contrib
apps/web/themes/custom/**/assets/css
apps/web/themes/custom/**/assets/images
apps/web/themes/custom/**/assets/js
apps/web/update.php
apps/web/web.config
node_modules